PORT=8003
DATABASE_URL=postgresql://user:password@localhost:5432/db
DATABASE_SSL_MODE=false
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:8003
AUTH_CONFIRM_EMAIL_EXPIRES=24h
AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=7d
AUTH_REFRESH_SECRET=refresh_secret
AUTH_REFRESH_TOKEN_EXPIRES_IN=7d
REDIS_URL=redis://localhost:6379
